<!DOCTYPE html>
<html>
<meta charset="utf-8">

<head>

	<title>New host</title>
	<link rel="stylesheet" href="/stile.css?version=3" />
</head>

<body>
	<div>
		<a href="/"><img src="/images/logo-rer.png" width="50%" /></a>
	</div>
	<h1>Aggiungi un Host</h1>
	<form th:action="@{/host}" enctype = "multipart/form-data" method = "POST" th:object="${host}">
		<div>
			Nome: <span><input required type="text" th:field="${host.name}" /></span>
		</div>
		<div>
			Cognome : <span><input required type="text" th:field="${host.surname}" /></span>
		</div>
		<div>
			<label for="immagine">Immagine:</label>
			<input type="file" id="immagine" name="immagine" accept="image/*">
		</div>

		<div>
			<img th:if="${host.hasImages() == true}"
				th:src="'data:image/jpeg;base64,' + ${host.getFirstImmagine().getBase64()}" width="30%" />
		</div>
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>