<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Aggiungi una Struttura</title>
    <link rel="stylesheet" href="/css/stileNewStruttura.css" />
</head>

<body>
    <nav class="navbar">
        <a href="/" class="logo">Real Estate Roma</a>
        <ul class="nav-links">
            <li class="ctn" th:unless="${userDetails}">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="active" th:unless="${userDetails}">
                <a class="nav-link" href="/register">Registrati</a>
            </li>
            <li>
                <a class="nav-link" href="/struttura">Strutture</a>
            </li>
            <li>
                <a class="nav-link" href="/host">Host</a>
            </li>
            <li>
                <a class="nav-link" href="/formSearchStrutture">Cerca Strutture nella tua città</a>
            </li>
            <li th:if="${userDetails}">
                <a class="nav-link" href="/formNewStruttura">Inserisci una struttura</a>
            </li>
        </ul>
        <img src="../static/images/menu-btn.png" alt="" class="menu-btn">
    </nav>

    <div class="container small-container">
        <h1>Aggiungi una Struttura</h1>
        <form th:action="@{/struttura}" enctype = "multipart/form-data" method="POST" th:object="${struttura}">
            <div>
                <span th:text="${messaggioErrore}">Errore</span>
            </div>
            <div>
                Nome: <span><input required type="text" th:field="${struttura.name}" /></span>
            </div>
            <div>
                Citta: <span><input required type="text" th:field="${struttura.city}" /></span>
            </div>
            <div>
                <label for="immagine">Immagine:</label>
                <input type="file" id="immagine" name="immagine" accept="image/*">
            </div>
            <div>
                <img th:if="${struttura.hasImages() == true}"
                    th:src="'data:image/jpeg;base64,' + ${struttura.getFirstImmagine().getBase64()}" width="30%" />
            </div>
            <div>
                <input type="submit">
            </div>
        </form>
    </div>
</body>

</html>
