<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifica Struttura</title>
    <link rel="stylesheet" href="/css/stileNewStruttura.css" />
</head>

    <body>
    <a th:href="@{/struttura/{id}(id=${struttura.id})}">Torna ai dettagli della struttura</a>

    <nav class="navbar">
        <a href="/" class="logo">Real Estate Roma</a>
        <ul class="nav-links">
            <li class="ctn" th:unless="${userDetails}">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="active" th:unless="${userDetails}">
                <a class="nav-link" href="/register">Registrati</a>
            </li>
            <li>
                <a class="nav-link" href="/struttura">Strutture</a>
            </li>
            <li>
                <a class="nav-link" href="/host">Host</a>
            </li>
            <li>
                <a class="nav-link" href="/formSearchStrutture">Cerca Strutture nella tua città</a>
            </li>
            <li th:if="${userDetails}">
                <a class="nav-link" href="/formNewStruttura">Inserisci una struttura</a>
            </li>
        </ul>
        <img src="../static/images/menu-btn.png" alt="" class="menu-btn">
    </nav>

    <div class="container small-container">
    <h1>Modifica i dettagli della Struttura</h1>
    <form th:action="@{/editStruttura/{struttura_id}(struttura_id=${struttura.id})}" enctype="multipart/form-data" th:object="${struttura}" method="post">
        <input type="hidden" th:value="${struttura.host.id}" name="struttura.host.id" />
        <div>
            <label for="name">Nome:</label>
            <input type="text" id="name" th:field="*{name}" required>
        </div>
        <div>
            <label for="city">Città:</label>
            <input type="text" id="city" th:field="*{city}" required>
        </div>
        <div>
            <label for="immagine">Immagine:</label>
            <input type="file" id="immagine" name="immagine" accept="image/*">
        </div>

        <div>
            <img th:if="${struttura.hasImages() == true}"
                th:src="'data:image/jpeg;base64,' + ${struttura.getFirstImmagine().getBase64()}" width="30%" />
        </div>
        <div>
            <button type="submit">Conferma modifiche</button>
        </div>
    </div>
</body>

</html>