<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Host</title>
	<link rel="stylesheet" href="/css/stileHost.css" />
</head>

<body>
	<nav class="navbar">
		<a href="/" class="logo">Real Estate Roma</a>
		<ul class="nav-links">
			<li class="ctn" th:unless="${userDetails}">
				<a class="nav-link" href="/login">Login</a>
			</li>
			<li class="active" th:unless="${userDetails}">
				<a class="nav-link" href="/register">Registrati</a>
			</li>
			<li>
				<a class="nav-link" href="/struttura">Strutture</a>
			</li>
			<li>
				<a class="nav-link" href="/host">Host</a>
			</li>
			<li>
				<a class="nav-link" href="/formSearchStrutture">Cerca Strutture nella tua città</a>
			</li>
			<li th:if="${userDetails}">
				<a class="nav-link" href="/formNewStruttura">Inserisci una struttura</a>
			</li>
		</ul>
		<img src="../static/images/menu-btn.png" alt="" class="menu-btn">
	</nav>


	<div class="container small-container">
		<h1>Dettagli Host</h1>
		<a th:href="@{/editHost/{host_id}(host_id=${host.id})}">Modifica il profilo</a>
		<div th:if="${host}">
			<span th:text="${host.name}"></span>
			<span th:text="${host.surname}"></span>
		</div>
		<div>
			<img th:if="${host.hasImages() == true}"
				th:src="'data:image/jpeg;base64,' + ${host.getFirstImmagine().getBase64()}" width="50%" />
		</div>
		<!--<div>
			<span><img width="50%" th:src="${host.urlImage}" /></span>
		</div>-->
		<div th:unless="${host}">Non esiste</div>
	</div>
</body>

</html>
