<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Real Estate Roma - Homepage</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div>
		<img src="/images/logo-siw.png" width="50%" />
	</div>
	<h1>Consulta</h1>
	<div>
		<a href="/login" th:unless="${userDetails}">Login</a>
	</div>
	<div>
		<a href="/register" th:unless="${userDetails}">Registrati</a>
	</div>
	<div>
		<a href="/struttura">Strutture</a>
	</div>
	<div>
		<a href="/host">Host</a>
	</div>
	<div>
		<a href="/formNewStruttura">Inserisci Struttura (solo host) </a>
	</div>
	<!---	<div>
		<a href="/formNewHost">Inserisci Host (REGISTRATI) </a>
	</div>
-->
	<div>
		<a href="/formSearchStrutture">Cerca Strutture per città</a>
	</div>
</body>

</html>