<!DOCTYPE html>
<html>

<head>
<title>SiwMovie - Homepage</title>
<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div>
		<img src="/images/logo-siw.png" width="50%" />
	</div>
	<h1>Consulta</h1>
	<div>
		<a href="/movie">Film</a>
	</div>
	<div>
		<a href="/host">Host</a>
	</div>
	<div>
		<a href="/formNewMovie">Inserisci Film</a>
	</div>
	<div>
		<a href="/formNewHost">Inserisci Host</a>
	</div>
	<div>
		<a href="/formSearchMovies">Cerca Film per anno</a>
	</div>
</body>

</html>