<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Real Estate Roma</title>
    <link rel="stylesheet" href="/css/login-style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">

        <h1>Login</h1>

        <form th:action="@{/login}" id="login" method="POST">

            <div class="input-box">
                <input name="username" placeholder="Username" id="username" type="text" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input name="password" placeholder="Password" id="password" type="password" required>
                <i class='bx bxs-lock-alt' id="icon"></i>
            </div>
            <div class="remember">
                <label><input type="checkbox">Ricordami</label>
            </div>
            <div>
                <span th:if="${param.error != null}" th:text="'Username o password errati'"></span>
            </div>
            <div> <!-- Non mettere questo div ?-->
                <button type="submit" class="btn" th:text="'Login'"></button>
            </div>

            <div class="register-link">
                <p>Non hai un account? <a href="/register">Registrati</a></p>
            </div>
        </form>
    </div>

    <script>
        let icon = document.getElementById("icon");
        let password = document.getElementById("password");

        icon.onclick = function () {
            if (password.type == "password") {
                password.type = "text";
                icon.className = "bx bx-lock-open-alt";
            }
            else {
                password.type = "password";
                icon.className = "bx bxs-lock-alt"
            }
        }
    </script>
</body>

</html>