<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Struttura</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div><a href="/"><img src="/images/logo-rer.png" width="30%" /></a></div>
	<h1>Dettagli Struttura</h1>
	<div th:if="${struttura}">
		<span th:text="${struttura.name}"></span>
		<span th:text="'(' + ${struttura.city} + ')'"></span>
		<span><img width="15%" th:src=${struttura.urlImage} /></span>
	</div>
	<div>
		<a th:href="@{/host/{id}(id=${struttura.host.id})}">Proprietario</a>
	</div>
	<div>
		<a th:href="@{/struttura/{id}/prenota(id=${struttura.id})}" target="_blank">Prenota questa struttura</a>
	</div>
	<div th:unless="${struttura}">Non esiste</div>

</body>

</html>