<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Strutture</title>
    <link rel="stylesheet" href="/css/stileStrutture.css" />
</head>

<body>
    <nav class="navbar">
        <a href="/" class="logo">Real Estate Roma</a>
        <ul class="nav-links">
            <li class="ctn" th:unless="${userDetails}">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="active" th:unless="${userDetails}">
                <a class="nav-link" href="/register">Registrati</a>
            </li>
            <li>
                <a class="nav-link" href="/struttura">Strutture</a>
            </li>
            <li>
                <a class="nav-link" href="/host">Host</a>
            </li>
            <li>
                <a class="nav-link" href="/formSearchStrutture">Cerca Strutture nella tua città</a>
            </li>
            <li th:if="${userDetails}">
                <a class="nav-link" href="/formNewStruttura">Inserisci una struttura</a>
            </li>
        </ul>
        <img src="../static/images/menu-btn.png" alt="" class="menu-btn">
    </nav>

    <div class="container">
        <h1>Strutture</h1>
        <div th:if="${strutture==null || strutture.isEmpty()}">Non ci sono strutture nel sistema</div>
        <ul>
            <li th:each="struttura : ${strutture}">
                <a th:href="@{'/struttura' + '/' + ${struttura.id}}"
                   th:text="${struttura.name} + ' (' + ${struttura.city} + ')'">Up!
                    (2000)</a>
            </li>
        </ul>
    </div>
</body>

</html>
