<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Struttura</title>
	<link rel="stylesheet" href="/css/stileStruttura.css" />
</head>

<body>
	<nav class="navbar">
		<a href="/" class="logo">Real Estate Roma</a>
		<ul class="nav-links">
			<li class="ctn" th:unless="${userDetails}">
				<a class="nav-link" href="/login">Login</a>
			</li>
			<li class="active" th:unless="${userDetails}">
				<a class="nav-link" href="/register">Registrati</a>
			</li>
			<li>
				<a class="nav-link" href="/struttura">Strutture</a>
			</li>
			<li>
				<a class="nav-link" href="/host">Host</a>
			</li>
			<li>
				<a class="nav-link" href="/formSearchStrutture">Cerca Strutture nella tua città</a>
			</li>
			<li th:if="${userDetails}">
				<a class="nav-link" href="/formNewStruttura">Inserisci una struttura</a>
			</li>
		</ul>
		<img src="../static/images/menu-btn.png" alt="" class="menu-btn">
	</nav>

	<div class="container small-container">
		<a th:href="@{/editStruttura/{struttura_id}(struttura_id=${struttura.id})}">Modifica la scheda della struttura</a>
		<h1>Dettagli Struttura</h1>
		<div th:if="${struttura}">
			<span th:text="${struttura.name}"></span>
			<span th:text="'(' + ${struttura.city} + ')'"></span>
		</div>
		<div>
            <img th:if="${struttura.hasImages() == true}"
                th:src="'data:image/jpeg;base64,' + ${struttura.getFirstImmagine().getBase64()}" width="30%" />
        </div>
		<div>
	        <span th:text="${struttura.host.name} + ' ' + ${struttura.host.surname}">Nome Host</span>
		</div>
		<div>
			<a th:href="@{/struttura/{id}/prenota(id=${struttura.id})}" target="_blank">Prenota questa struttura</a>
		</div>
		<div th:unless="${struttura}">Non esiste</div>
	</div>
</body>

</html>